/*font-family: 'Raleway', sans-serif;*/

*{
    padding:0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.page{
    margin:40px;
    margin-bottom: 0;
}
li{
    list-style: none;
}
a{
    margin-top: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
p{
    padding: 3px 0 1px 0;
    font-size: 0.8em;
}
h1{
    font-size:20px;
    margin-bottom: 15px;
}
.heading-lodge{
    padding-left: 10px;
}
h2{
    font-size: 1.4rem;
}
h4{
    font-size: 1rem;
   
}
   /*couleur icon étoile*/
.fa-blue{
    color: #0065FC;
}
.fa-grey{
    color: #f2f2f2;
}
/*Partie Header*/
.nav__menu{
    display: flex;
}
.logo{
    width: 70%;
}  
 .nav__link{
     width:10%;
     text-align: end;
     padding-top:15px;
 }
 
 .nav__link > a {
     color: #0065FC;
 }
 .nav__link--lodge > a, .nav__link--act > a{
    color: black;
}
.nav__link--lodge > a:hover, .nav__link--act > a:hover{
    color: #0065FC;
    font-weight: bold;
}
 .nav__link--inscription{
     order:3;
     font-weight: 700;
 }
.header-select{
    margin-top: 20px;
}

@media (max-width:1100px){
    .nav__menu{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .logo{
        order:1;
        width: 50%;
    }
    .nav__link--inscription{
       order:2;
       width: 50%;
    }
    .nav__link--lodge{
        width: 50%;
        text-align: center;
        order:3;
    }
    .nav__link--lodge > a {
        margin:0;
        display: block;
        width: 100%;
        padding-bottom: 5px ;
        border-bottom: 2px solid #f2f2f2;
    }
    .nav__link--lodge > a:hover{
        border-bottom: 2px solid #0065FC;
    }
    
    .nav__link--act{
        text-align: center;
        width: 50%;
        order: 4;
    }
    .nav__link--act > a{
        margin:0;
        display: block;
        width: 100%;
        padding-bottom: 5px ;
        border-bottom: 2px solid #f2f2f2;
    }
    .nav__link--act > a:hover{
        border-bottom: 2px solid #0065FC;
    }
}
/*Barre de recherche*/
.bloc-form{
    display: flex;
    margin-top:25px;
}
form{
    font-size:0;
}
.form__field{
    padding:12px;
    padding-left: 10px;
    padding-right: 70px;
    font-weight: bold;
    border: 1px solid #f2f2f2;
}
.form__btn{
    border: none;
    border-radius:  10px;
    background-color:transparent;
    color:#fff;
    font-weight: 600;
    padding: 3px 3px 2px 3px;
    position: relative;
}
.form__btn:hover{
    transform: scale(1.05);
}
.bloc-form > i{
    display: flex;
    align-items:center;
    background-color: #f2f2f2;
    padding:0 10px 0 10px;
    border-radius: 10px 0 0 10px;
}
.fa-search{
    position:absolute;
    background-color: #0065FC;
    color: #fff;
    border-radius: 10px;
    padding:14px;
    left: -14px;
    top:-23px;   
}
@media (min-width:800px){
    button{
        visibility: hidden;
    }
    button::after{
        content: 'Recherche';
        visibility: visible;
        display: block;
        position: absolute;
        border-radius: 0 10px 10px 0;
        padding: 13px;
        color: #fff;
        background-color: #0065FC;
        top: -23px;
        left: 0;
    }
}
@media (max-width:800px){
    .bloc-form{
        justify-content: center;
    }
}
@media (max-width:480px){
    .page{
        margin: 30px;
    }
    .bloc-form{
        justify-content: center;
    }
  
}
/*Construction de la partie filtre*/
.bloc-filtre{
    margin-top: 20px;
    display: flex;
    width:67%;
    justify-content: space-between;
    font-weight: 700;
    font-size:12px;
}
.filtre__btn{
    border:1px solid #f2f2f2;
    border-radius: 20px;
    padding: 10px 15px 10px 0;
    transition:0.3s;
}
.filtre__btn:hover{
    background-color: #0065FC;
    color: #fff;
}

.filtre__btn > i {
    background-color: #deebff;
    color: #0065FC;
    padding:11px;
    border-radius:50%;
    margin-right:11px;
}
.filtre__heading{
    margin-top:10px;
}
@media (max-width:1100px){
    .bloc-filtre{
        width: 100%;
    }
}
@media (max-width:680px){
    .bloc-filtre{
        flex-wrap: wrap;
        font-size: 12px;
        justify-content: start;
    }
    .filtre__heading, .filtre__btn--rom, .filtre__btn--ani{
        width:100%;
    }
    .filtre__btn--fam, .filtre__btn--eco{
        width: 40%;
    }
    .bloc-filtre > li {
        margin: 20px 0 20px 20px; 
    }
    li.filtre__btn--fam{
        margin-left:0;
        padding:0;
    }
}
@media (max-width:480px){
    .filtre__btn--eco{
        width: 50%;
    }
    .bloc-filtre > li{
        margin:10px 0; 
    }
    .filtre__btn--fam{
        width: 40%;
    }
}
/*Petite phrase informative sur le nombre de logement dispo sur le site*/
.parag-info{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}
.parag-info > p{
    padding-top: 7px;
}

@media (max-width:480px){
    .parag-info{
        font-size: 19px;
    }
    
}
.parag-info > i {
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    padding: 7px;
    margin-right:10px;
}
/*Bloc principal: hébergement + populaire*/
.flex-main{
    display: flex;
    justify-content: space-around;
}
.bloc-hebergement{
    width: 66%;
    padding: 20px;
    margin-right: 2%;
    min-height: 600px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.flex-hebergement{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 85%;
}
.flex-hebergement > a {
    width: 31%;
    padding:0;
    margin-top: 15px;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 6px 9px 25px -18px rgba(0,0,0,1);
}
.bloc-pop{
    width: 33%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.flex-pop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 94%;
}
.flex-pop > a {
    width: 95%;
    height: 33%;
    padding: 0;
    margin-top: 20px;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 6px 9px 25px -18px rgba(0,0,0,1);
  
}
/*Contenu des cartes hébergement*/
.bloc-prev{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
}
.bloc-prev__image{
    height: 60%;
    background-position-y: center; /*pour recentrer l'image*/
    background-size: 100% 200%;  
    border-radius: 20px 20px 0 0;
}
.bloc-prev__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff; 
}
.bloc-prev > .bloc-prev__info{ 
    width:100%;
    height:40%;
    padding:2%;  
}

.cannebiere{
    background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-position-y: center;
}
.port{
    background-image: url(../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-position-y: center;
}
.mouette{
    background-image: url(../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-position-y: center;
}
.mer{
    background-image: url(../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.panier{
    background-image: url(../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.amina{
    background-image: url(../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: 100% 250%;
    background-position-y: center;
}

.afficherPlus{
    margin-top: 30px;
    padding-left:2%;
    font-weight: 700;
    display: block;
}
/*Contenu des cartes populaire*/
.heading-pop{
    display: flex;
    justify-content: space-between;
}
.fa-chart-line{
    padding-right: 15px; /*positionnement du petit icon*/
}
.bloc-prev-pop{
     display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    min-height:100px;
    width: 100%;
}
.bloc-prev-pop__image{
   width:30%;
   min-width:150px;
   background-size: cover;  
   border-radius: 20px 0 0 20px;
}
.bloc-prev-pop > .bloc-prev__info{
    width:70%;
    height:100%;
    min-height: 100px;
    padding-left:2%;
}

.matin{
    background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    
}
.eau {
    background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg); 
}
.blanc{
    background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size:100% 100%;
}
.score--pop{
    vertical-align: bottom;
}

@media (max-width:1100px){
    .blanc{
        background-size:100% 150%;
        background-position-y:center;
    }
    .flex-main{
        flex-direction: column;
    }
    .bloc-hebergement{
        width: 100%;
        min-height: 500px;
        order: 2;
    }
    .bloc-pop{
        margin: 0 auto;
        width: 50%;
        margin-bottom: 30px;
        order: 1;
    }
    .flex-hebergement > a {
        min-height:200px ;   
    }
   p{
        font-size: 1rem;
   }
}
@media (max-width:800px){
    .flex-main{
        flex-direction: column;
    }
     .bloc-hebergement{
        width: 100%;
        order: 2;
    }
    .flex-hebergement > a {
        width: 48%;  
    }
    .bloc-pop{
        width: 100%;
        margin-bottom: 30px;
        order: 1;
    }
    .bloc-prev{
        min-height:190px;
    }
   
    h2{
        padding-left: 15px;
    } 
}
@media (max-width:480px){
    .flex-hebergement  > a {
        width: 100%;
    }
    .bloc-pop{
        width: 100%;
    }
    .bloc-prev{
        min-height:190px;
    }
    .bloc-prev-pop{
        max-height: 100px;
    }
    .bloc-prev-pop__image{
        min-width: 90px;
    }
    h4{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
}


/*Section activités*/
.bloc-acti{
    margin-top: 15px;
    padding:20px 0 20px 0;
    border-radius: 20px;
    height: 100%;
}
.flex-act{
    display: flex;
    justify-content: space-between;
    margin-top:15px;
    height: 90%;
}

.flex-act > a, .bloc-imagex2{/*largeur des blocs à l'horizontale*/
    width: 23.5%;
}
.flex-act > a {
    height:450px;
    margin:0;
    padding:0;
    border-radius: 20px;
    box-shadow: 6px 9px 25px -18px rgba(0,0,0,1);
   
}
.bloc-imagex2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bloc-imagex2 > a{
    margin:0;
    padding:0;
    border-radius: 20px;
    box-shadow: 6px 9px 25px -18px rgba(0,0,0,1);
}
/*Indication de la hauteur pour les images Pomègues et Frioul*/
.bloc-imagex2--hauteur-l{
    height: 230px;
}
.bloc-imagex2--hauteur-m{
    height: 200px;
}
.bloc-imagex2--hauteur-s{
    height: 180px;
}
/*---------------------------------*/
.bloc-prov-acti__image2x {
    height: 100%;
    background-position-y: top;
    background-size: 100% 150%;  
    border: 5px solid #f2f2f2;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
   
}
.bloc-prev-acti__image{
    height: 90%;
    background-position-y: center;
    background-size: 100% 100%;  
    background-position: center;
    border: 5px solid #f2f2f2;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
}

.bloc-prev-acti{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.bloc-prev-acti > .bloc-prev__info{
    min-height:60px;
    height:10%;
    padding: 15px 0 15px 5px;
    border: 5px solid #f2f2f2;
    border-top: none;
    border-radius: 0 0 20px 20px;
}
.bloc-prev__info--border{
    border: 5px solid #f2f2f2;
    border-top: none;
    border-radius: 0 0 20px 20px;
}
.vieuxPort{
    background-image: url(../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: 200% 100%;
    background-position-y: center;
}
.pomegues{
    background-image: url(../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: 100% 200%;
    background-position-y: center;
}
.frioul{
    background-image: url(../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}
.calanques{
    background-image: url(../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: 250% 100%;
    background-position-y: center;
}
.notre-dame{
    background-image: url(../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
.longchamp{
    background-image:url(../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}
@media (max-width:800px){
    .flex-act{
        flex-wrap: wrap;
    }
    .flex-act > a, .bloc-imagex2{
        margin-top:20px;
        width: 48.5%;
    }
}
@media (max-width:480px){
    .longchamp{
        background-position-y: center;
    }
    .flex-act > a, .bloc-imagex2{
        margin-top:20px;
        width: 100%;
    }
    /*Indication de la hauteur pour les images Pomègues et Frioul*/
    .bloc-imagex2--hauteur-l{
        height: 200px;
    }
    .bloc-imagex2--hauteur-m{
        height: 200px;
    }
    .bloc-imagex2--hauteur-s{
        height: 200px;
    }
    .bloc-prev-acti__image{
        background-size: 200% 200%;
    }
    .bloc-prov-acti__image2x{
        background-size: cover;
    }
    .flex-act > a {
        height:250px;
    }
}
/*Footer*/
footer{
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    padding-top: 20px;
    margin-bottom: 50px;
}
.foot-bloc{
    width: 33%;
    padding-left: 40px;
    padding-bottom: 10px;
}
.foot-bloc > h4 {
    margin-bottom: 3px;
}
.foot-list > a{
    padding: 15px 0 15px 0;
    font-size: 10px;
}

@media (max-width:480px){
    footer{
        flex-direction: column;
    }
    .foot-bloc{
        width: 100%;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .foot-bloc > h4 {
        margin-bottom: 10px;
        font-size:20px;
    }
    .foot-list > a{
        font-size: 15px;
    }
}
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
@media (max-width:575px){
    .p__size{
        font-size:0.7rem;
    }
}