/*font-family: 'Raleway', sans-serif;*/

*{
    padding:0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.page{
    margin:40px;
    margin-bottom: 0;
}
li{
    list-style: none;
}
a{
    margin-top: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
p{
    padding: 3px 0 3px 0;
    font-size: 0.7em;
}
h1{
    font-size:20px;
}
.heading-lodge{
    padding-left: 10px;
}
h4{
    font-size: 0.7em;
   
}
/*Partie Header*/
.nav__menu{
    display: flex;
}
.logo{
    width: 70%;
}  
 .nav__link{
     width:10%;
     text-align: end;
     padding-top:15px;
 }
 .nav__link > a {
     color: #0065FC;
     font-weight: 700;
 }
 .nav__link--inscription{
     order:3;
 }
.header-critere{
    margin-top: 20px;
}

@media (max-width:500px){
    nav{
        display: flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }
    .logo{
        order:1;
        position: static;
        width: 50%;
    }
    .nav__inscription{
       order:2;
       padding-top: 15px;
    }
    .nav__link{
        display: flex;
        justify-content: space-around;
        width: 100%;
        order:3;
    }
}
/*Barre de recherche*/
.bloc-form{
    display: flex;
    margin-top:10px;
}
form{
    font-size:0;
}
.form__field{
    padding:10px;
    padding-left: 10px;
    padding-right: 90px;
    font-weight: bold;
    border: 1px solid #f2f2f2;
}
.form__btn{
    border: none;
    border-radius:  0 10px 10px 0;
    background-color: #0065FC;
    color:#fff;
    font-weight: 600;
    padding: 11px;
}
.bloc-form > i{
    display: flex;
    align-items:center;
    background-color: #f2f2f2;
    padding:0 10px 0 10px;
    border-radius: 10px 0 0 10px;
}
/*Construction de la partie filtre*/
.filtre{
    margin-top: 20px;
    display: flex;
    width:67%;
    justify-content: space-between;
    font-weight: 700;
    font-size:12px;
}
.filtre__btn{
    border:1px solid #f2f2f2;
    border-radius: 20px;
    padding: 10px 15px 10px 0;
    transition:0.5s;
}
.filtre__btn:hover{
    background-color: #0065FC;
    color: #fff;
}

.filtre__btn > i {
    background-color: #deebff;
    color: #0065FC;
    padding:11px;
    border-radius:50%;
   margin-right:11px;
}
.filtre__heading{
    margin-top:10px;
}
.info{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}
.info > i {
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    padding: 7px;
    margin-right:10px;
}
/*Bloc principal*/
.main{
    display: flex;
    justify-content: space-around;
}
.bloc-hebergement{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 66%;
    margin-right: 2%;
}

.flex-hebergement{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80%;
}
.flex-hebergement > a {
    width: 31%;
    border: 5px solid #fff;
    border-radius: 10px;
    padding:0;
    margin-top: 15px;
    box-shadow: 6px 9px 25px -18px rgba(0,0,0,1);
}
.bloc-pop{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 33%;
    
}
/*@media(max-width:1024px){
    .flex-hebergement > a {
        width: 50%;
    }
}*/
.flex-pop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex-pop > a {
    width: 95%;
    border: 5px solid #fff;
    border-radius: 10px;
    height: 31%;
    padding: 0;
    margin-top: 20px;
    box-shadow: 6px 9px 25px -18px rgba(0,0,0,1);
  
}
/*Contenu des cartes hébergement*/
.bloc-prev{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    
}
.image{
    height: 60%;
    background-position-y: center;
    background-size: 100% 200%;  
    border-radius: 10px 10px 0 0;
}
.bloc-prev > .bloc-prev__info{
    background-color: #fff;
    width:100%;
    height:40%;
    padding:2%;
}
.bloc-prev--pop{
    height: 33%;
    min-height:100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.bloc-prev--pop > .bloc-prev__info{
    background-color: #fff;
    width:60%;
    height:100px;
    padding-left:2%;
}
.bloc-prev__info--flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img{
   width:40%;
   background-size: cover;  
   border-radius: 10px 0 0 10px;
}
.cannebiere{
    background-image: url(../images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.port{
    background-image: url(../images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.mouette{
    background-image: url(../images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.mer{
    background-image: url(../images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.panier{
    background-image: url(../images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.amina{
    background-image: url(../images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.matin{
    background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    
}
.eau {
    background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg); 
}
.blanc{
    background-image: url(../images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-size:100% 100%;
}
.fa-blue{
    color: #0065FC;
}
.fa-grey{
    color: #f2f2f2;
}
.afficherPlus{
    margin-top: 30px;
    padding-left:2%;
    font-weight: 700;
    display: block;
}

.score--pop{
    vertical-align: bottom;
}
@media (max-width:768px){
    .main{
        flex-direction: column;
    }
    .bloc-hebergement{
        width: 100%;
    }
    .bloc-pop{
        width: 100%;
    }
}
@media (max-width:480px){
    .flex-hebergement  > a {
        width: 100%;
    }
    .bloc-pop{
        width: 100%;
    }
}
/*Section activités*/
.act-section{
    margin-top: 15px;
    padding:20px 0 20px 0;
    border-radius: 10px;
}
.flex-act{
    margin-top:15px;
    display: flex;
    justify-content: space-between;
}

.flex-act > a, .double-image{
    width: 23.5%;
}
.flex-act > a {
    margin:0;
    padding:0;
    border-radius: 10px;
    box-shadow: 6px 9px 25px -18px rgba(0,0,0,1);
   
}
.double-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.double-image > a{
    height:47%;
    margin:0;
    padding:0;
    border-radius: 10px;
    box-shadow: 6px 9px 25px -18px rgba(0,0,0,1);

}
.act-image__50 {
    height: 100%;
    background-position-y: top;
    background-size: 100% 150%;  
    border: 5px solid #f2f2f2;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
   
}
.act__image{
    height: 90%;
    background-position-y: center;
    background-size: 200% 100%;  
    background-position: center;
    border: 5px solid #f2f2f2;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
.bloc-prev--bg{
    height:400px;
}
.bloc-prev__info--act{
    background-color: #fff;
    width:100%;
    height:40px;
    padding: 3%;
    border: 5px solid #f2f2f2;
    border-top: none;
    border-radius: 0 0 10px 10px;
}
.vieuxPort{
    background-image: url(../images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}
.pomegues{
    background-image: url(../images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
.frioul{
    background-image: url(../images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}
.calanques{
    background-image: url(../images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}
.notre-dame{
    background-image: url(../images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
.longchamp{
    background-image:url(../images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}
/*Footer*/
footer{
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    padding-top: 20px;
    margin-bottom: 50px;
}
.foot-bloc{
    width: 33%;
    padding-left: 3%;
    padding-bottom: 10px;
}
.foot-bloc > h4 {
    margin-bottom: 3px;
}
.foot-list > a{
    padding: 15px 0 15px 0;
    font-size: 10px;
}
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
